body{
    font-family: 'Montserrat', sans-serif !important;
    margin: 0px;
    /*background-color: #eee;    */
}
header{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-image: url(../img/header.png);
    /*width: 100%;*/
    min-height: 360px;
    background-size: 100% auto;
    background-repeat: no-repeat;


}
.anime img:hover{
      transform: rotate(720deg) scale(2,2);
      transition: all 2s ease-in-out;
   }
.container{
	/*background-color: #fff;*/
    width: 100% !important;
}

.titulo{
    padding: 0 10px 0 10px;
}


.titulo h1{
    font-weight: bold;
    font-size: 45px;
    color: white;
    margin-bottom: 0px;
    margin-top: 0px;

}
.titulo h3{
    font-size: 15px;
    font-weight: normal;
    color: white;
    margin-top: 5px;
}
.button{
    background: white;
    color: #41c3d5;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
}

.logo{
    align-self: stretch;
    padding: 15px 0 0 25px;
}

.estrategia{
    margin-top: 15px;
    padding-right: 20px;
}
.estrategia h3{
    font-weight: bold;
    color: #41c3d5;
    font-size: 50px;
}
.estrategia p, .estrategia ul{
    font-size: 12px;
    color: #686868 !important;
    line-height: 2;
}

.estrategia li {
    list-style-image: url(../img/check.png);
}

.estrategia .contenedor{
    display: flex;
    justify-content: space-between;
}

.formulario{
    padding: 60px 85px
}

.lb-conozcamonos{
    color: #686868 !important;
    font-weight: bold;
    font-size: medium;
}
.enviar{
    background: #41c3d5;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border: solid;
    padding: 10px 40px;
}
#linea{ 
   border: 1;
   height: 2px;  
   background-image: linear-gradient(left, #fff, #000, #fff);
}

.clientes{
    margin-top: 40px;
}

.clientes h3 {
    color: #53b5d6;
    font-weight: bold;
    margin: auto;
    font-size: 30px;
}

.otros-servicios {
    background-image: url(../img/otros-servicios.png);  
    padding-top: 1px;
    min-height: 615px;
    background-size: cover;
    background-size: 100% auto

}

.otros-servicios h3 {
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
}

.servicios {
    padding: 130px;
}

.servicio-item{
    background-color: #fff;
    margin-top: 5px;
}

.servicio-item h4 {
    margin: 10px 0 0 0;
    border-top: 1px solid #c3c3c3;
    padding: 10px 0 10px 0;
    color: #686868;
    font-weight: bold;
}

.servicio-item p {
    color: #686868;
    padding: 15px;
}

.servicio-item button {
    padding: 5px 15px 5px 15px;
    margin: 10px;
    background-color: #53b5d6;
    color: #fff;
    border-style: none;
}

.descubre {
    margin: 50px;
    padding: 8px 20px 5px 20px;
    text-transform: uppercase;
    border-style: none;
    background: transparent;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.premios-certificados {
    padding: 70px;
}

.premios-certificados img{
    margin-right: 10px;
}

.premios-certificados h2 {
    text-transform: uppercase;
    color: #53b5d6;
    font-weight: bold;
    font-size: 30px;
}

.premios-certificados .rigth-line {
    border-right: 1px solid #999;
}

footer {
    background-color: #2a2a2a;
    padding: 25px 0px 0px 0px;
}

footer .number{
    color: #fff !important;
}
a{
    color: #68675f !important;   
}

footer p{
    color: #686868;
    line-height: 1;
}

footer .rigth-line {
    border-right: 1px solid #555;
}

footer .footer-item {
    margin-top: 30px;
    margin-bottom: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer .social  {
   cursor: pointer;
}

footer .social img {
    padding: 5px;
}

.col-centered {
    float: none;
    min-height: 98px;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
}

.carousel-control { 
    width: 8%;
    width: 0px;
}
.carousel-control.left,
.carousel-control.right { 
    margin-right: 5px;
    margin-left: 5px; 
    background-image: none;
    opacity: 1;
}
.carousel-control > a > span {
    color: white;
      font-size: 29px !important;
}

.carousel-col { 
    position: relative; 
    min-height: 1px; 
    padding: 5px; 
    float: left;
 }

 .active > div { display:none; }
 .active > div:first-child { display:block; }

/*xs*/
@media (max-width: 767px) {
    .carousel-inner .active.left { left: -50%; }
    .carousel-inner .active.right { left: 50%; }
    .carousel-inner .next        { left:  50%; }
    .carousel-inner .prev            { left: -50%; }
    .carousel-col                { width: 50%; }
    .active > div:first-child + div { display:block; }

    header{
        min-height: 200px;
        padding-bottom: 15px;
        background-color: #64c0d3;
    }
    .logo img {
        width: 60%;
    }
    .titulo h1{
        font-size: 20px;
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .titulo h3{
        display: none;
        /*font-size: 10px;*/
    }
    .button{
        padding: 8px 10px 8px;
        font-size: 12px;
    }
    .formulario{
        padding: 60px 40px;
    }
    .servicios{
        padding:50px;
    }

    .premios-certificados .rigth-line {
        border: none;
    }
    .premios-certificados h2 {
        font-size: 15px;
    }
    .premios-certificados img {
        margin-right: 10px;
        width: 40%;
    }
    .estrategia h3 {
        font-size: 35px;
    }
    footer .text-right, footer .social.text-center {
        text-align: left;
    }
    footer .footer-item {
    margin-top: 0px;
    margin-bottom: 0px;
    }
    footer .footer-item .number{
        color: white;
        font-size: 20px;
    }
}

@media (max-width: 479px) {
    .servicios{
        padding: 80px !important;
    }

    .descubre {
        margin: 10px;
        padding: 10px;
        font-size: 15px;
    }

    .clientes h3 {
        font-size: 15px;
    }
}

/*sm*/
@media (max-width: 991px) {
  .carousel-inner .active.left { left: -50%; }
  .carousel-inner .active.right { left: 50%; }
    .carousel-inner .next        { left:  50%; }
    .carousel-inner .prev            { left: -50%; }
  .carousel-col                { width: 50%; }
    .active > div:first-child + div { display:block; }
       
}

/*md*/
@media (min-width: 992px) and (max-width: 1199px) {
  .carousel-inner .active.left { left: -33%; }
  .carousel-inner .active.right { left: 33%; }
    .carousel-inner .next        { left:  33%; }
    .carousel-inner .prev            { left: -33%; }
  .carousel-col                { width: 33%; }
    .active > div:first-child + div { display:block; }
  .active > div:first-child + div + div { display:block; }
}

/*lg*/
@media (min-width: 1200px) {
  .carousel-inner .active.left { left: -25%; }
  .carousel-inner .active.right{ left:  25%; }
    .carousel-inner .next        { left:  25%; }
    .carousel-inner .prev            { left: -25%; }
  .carousel-col                { width: 25%; }
    .active > div:first-child + div { display:block; }
  .active > div:first-child + div + div { display:block; }
    .active > div:first-child + div + div + div { display:block; }
}

.block {
    width: 306px;
    height: 230px;
}